*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Poppins';
}

html, body{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.648);
}

h2{
    font-weight: 300;
    font-size: 2vw;
    padding: 0.5vw 0 0 1vw;
}

p{
    padding: 0.5vw 0 0 1vw;
}

h4{
    padding: 0.5vw 0 0 1vw;
    font-size: 2vw;
    font-weight: 500;
    
}

button{
    height: 6vh;
    width: 10vw;
    background-color: black;
    border: 1px solid white;
    margin-left: 1.2vw;
}

h1{
    font-weight: 400;
    margin-top: 1vw;
    padding-left: 1vw;

}
